.circle-progress {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease !important;
    -webkit-transition: all 1s ease !important;
    -moz-transition: all 1s ease !important;
    -ms-transition: all 1s ease !important;
    -o-transition: all 1s ease !important;
}

.rounded-cv-btn {
    width: 100%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.bg-primary {
    background-color: #22C55E;
    color: #fff;

    &:hover {
        background-color: transparentize($color: #22C55E, $amount: 0.6);
    }

    &:focus {
        background-color: transparentize($color: #22C55E, $amount: 0.6);
    }
}

.bg-secondary {
    background-color: #06B6D4;
    color: #fff;

    &:focus {
        background-color: transparentize($color: #06B6D4, $amount: 0.6);
    }

    &:hover {
        background-color: transparentize($color: #06B6D4, $amount: 0.6);
    }
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.cv-form-input{
    padding: 10px;
    border: 1px solid #E5E5E5;
    outline: none;
    &:hover{
        border: 1px solid #06B6D4;
    }
    &:focus{
        border: 1px solid #06B6D4;
    }
}