@import '../main.scss';
.navbar{
    padding: 10px 30px;
    // background-color: $black;
    // color: $white;
    @media screen and (max-width: 500px) {
        padding: 10px 5px;
    }
    &-content{
        @include flexMini();
        gap: 20px;
        img{
            width: 150px;
            height: 100%;
        }
        &-list{
            @include flexMini();
            gap: 20px;
        }
    }
    &-buttons{
        @include flexMini();
        gap: 10px;
    }
}

.side-bar{
    position: relative;
    left: 0;
    height: 100vh;
    background-color: #444444;
    color: #fff;
    z-index: 1;
}