@import '../main.scss';
.special-card{
    width: 100%;
    max-width: 400px;
    @include flexMini();
    flex-direction: column;
    direction: rtl;
    gap: 10px;
    overflow: hidden;
    img{
        width: 100%;
    }
}